:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; }

h2, p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300; }

h2 {
  color: #383838;
  font-size: 1.3rem; }

p {
  font-size: 1rem;
  margin-bottom: 0px;
  color: #222629; }

.grid-cv {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 30% 70%;
  grid-gap: 10px;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 100px;
  margin-left: 80px;
  margin-right: 80px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .grid-cv {
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 50px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .grid-cv {
      margin-top: 50px;
      margin-left: 5px;
      margin-right: 5px;
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-cv #grid-izquierda {
    grid-area: izquierda;
    align-items: center;
    padding-top: 0px;
    margin-bottom: 20px; }
  .grid-cv #grid-derecha {
    grid-area: derecha;
    padding-left: 20px; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv #grid-derecha {
        padding-left: 10px;
        padding-right: 10px; } }
  .grid-cv #manuel {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 25px; }
  .grid-cv #manuelLacarra {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #333333;
    margin-right: 40px;
    margin-left: 40px;
    text-align: center; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv #manuelLacarra {
        margin-right: 10px;
        margin-left: 10px; } }
  .grid-cv #text-secondary {
    font-size: 1.2rem;
    font-weight: 400;
    color: #8a8a8a;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv #text-secondary {
        margin-left: 10px;
        margin-right: 10px; } }
  .grid-cv .background {
    background-color: #1f2833;
    /*#474b4f*/
    padding: 20px;
    margin-top: 0px;
    padding-bottom: 30px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .grid-cv .background {
        padding: 10px; } }
  .grid-cv .titulos-izquierda {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    font-weight: 600; }
  .grid-cv #datosPersonales {
    margin-bottom: 0px; }
  .grid-cv .grid-datos {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-gap: 10px;
    align-content: center;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 30px;
    grid-template-areas: "tel num" "sobre mail" "linkedin enlace" "flecha ciudad"; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .grid-cv .grid-datos {
        margin-left: 0px;
        margin-right: 0px; } }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv .grid-datos {
        margin-left: 15px;
        margin-right: 10px; } }
    .grid-cv .grid-datos #tel-icono-contacto {
      grid-area: tel;
      margin-top: 5px; }
    .grid-cv .grid-datos #tel-enlace-contacto {
      grid-area: num;
      margin-left: 5px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-datos #tel-enlace-contacto {
          margin-left: 0px; } }
    .grid-cv .grid-datos #mail-icono-contacto {
      grid-area: sobre;
      margin-top: 5px; }
    .grid-cv .grid-datos #mail-enlace-contacto {
      grid-area: mail;
      margin-left: 5px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-datos #mail-enlace-contacto {
          margin-left: 0px; } }
    .grid-cv .grid-datos #linkedin-icono {
      grid-area: linkedin;
      margin-top: 5px; }
    .grid-cv .grid-datos #linkedin-enlace {
      grid-area: enlace;
      margin-left: 5px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-datos #linkedin-enlace {
          margin-left: 0px; } }
    .grid-cv .grid-datos #map-icono-contacto {
      grid-area: flecha;
      margin-top: 5px; }
    .grid-cv .grid-datos #map-enlace-contacto {
      grid-area: ciudad;
      margin-left: 5px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-datos #map-enlace-contacto {
          margin-left: 0px; } }
  .grid-cv .grid-habilidades {
    display: grid;
    grid-template-columns: 2.5% 95%;
    grid-gap: 2.5%;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 40px;
    margin-right: 30px;
    grid-template-areas: "izquierda derecha"; }
    @media screen and (min-width: 768px) and (max-width: 1200px) {
      .grid-cv .grid-habilidades {
        margin-left: 30px;
        text-align: center;
        align-items: center;
        grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv .grid-habilidades {
        text-align: center; } }
    .grid-cv .grid-habilidades .tipo {
      grid-area: izquierda; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-habilidades .tipo p {
          margin-bottom: 0px;
          margin-top: 0px; } }
    .grid-cv .grid-habilidades .habilidades {
      grid-area: derecha; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-habilidades .habilidades {
          margin-bottom: 20px; } }
    .grid-cv .grid-habilidades .puntos, .grid-cv .grid-habilidades .punto-transparente {
      margin-left: 5px;
      margin-right: 5px;
      align-items: center;
      height: 80%;
      margin-top: 5px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-habilidades .puntos, .grid-cv .grid-habilidades .punto-transparente {
          margin-bottom: 5px; } }
    .grid-cv .grid-habilidades .punto-transparente {
      margin-left: 7px;
      margin-right: 7px; }
    .grid-cv .grid-habilidades #primerPunto {
      margin-left: 100px; }
      @media screen and (min-width: 768px) and (max-width: 1200px) {
        .grid-cv .grid-habilidades #primerPunto {
          margin-left: 0px; } }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        .grid-cv .grid-habilidades #primerPunto {
          margin-left: 80px; } }
  .grid-cv .lista {
    margin-left: 70px;
    padding-left: 0px; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv .lista {
        text-align: center;
        margin-left: 0px; } }
  .grid-cv .titulosDerecha {
    border-bottom: solid;
    border-width: 1px;
    font-size: 1.2rem;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px;
    /*@media screen and (min-width: 250px) and (max-width: 768px) {
			 text-align: center;
		}*/ }
  .grid-cv .flexTitulos {
    display: flex;
    align-content: center;
    margin-bottom: 20px; }
    .grid-cv .flexTitulos .iconos {
      margin-right: 15px;
      margin-top: 5px;
      /*background-color: #557a95; padding: 10px; border-radius: 50%; height: 85%;*/ }
  .grid-cv #descripcion {
    margin-left: 50px;
    margin-right: 30px;
    margin-bottom: 50px;
    font-size: 1rem; }
    @media screen and (min-width: 250px) and (max-width: 768px) {
      .grid-cv #descripcion {
        margin-left: 10px;
        margin-right: 10px; } }
  .grid-cv .grid-experiencia {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-areas: "izquierda derecha"; }
    @media screen and (min-width: 250px) and (max-width: 576px) {
      .grid-cv .grid-experiencia {
        grid-gap: 0%;
        grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
    .grid-cv .grid-experiencia #experienciaIzquierda {
      grid-area: izquierda;
      margin-left: 50px; }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        .grid-cv .grid-experiencia #experienciaIzquierda {
          margin-left: 0px;
          text-align: center; } }
      .grid-cv .grid-experiencia #experienciaIzquierda p {
        font-weight: 600;
        margin-bottom: 0px; }
    .grid-cv .grid-experiencia #experienciaDerecha {
      grid-area: derecha;
      margin-right: 10px; }
      @media screen and (min-width: 250px) and (max-width: 768px) {
        .grid-cv .grid-experiencia #experienciaDerecha {
          text-align: center;
          margin-right: 0px; } }
      .grid-cv .grid-experiencia #experienciaDerecha h4 {
        font-size: 1rem;
        font-weight: 300; }
        @media screen and (min-width: 250px) and (max-width: 768px) {
          .grid-cv .grid-experiencia #experienciaDerecha h4 {
            margin-top: 5px; } }
      .grid-cv .grid-experiencia #experienciaDerecha p {
        font-size: 0.9rem; }
        @media screen and (min-width: 250px) and (max-width: 768px) {
          .grid-cv .grid-experiencia #experienciaDerecha p {
            margin-bottom: 10px; } }

.flexAbajo {
  display: flex;
  align-content: center;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .flexAbajo {
      margin-left: 30px;
      margin-right: 30px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .flexAbajo {
      margin-left: 10px;
      margin-right: 10px; } }
  .flexAbajo .titulosAbajo {
    border-bottom: solid;
    border-width: 1px;
    font-size: 1.2rem;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 20px; }
  .flexAbajo .iconos-abajo {
    margin-right: 15px;
    margin-top: 5px;
    /*background-color: #557a95; padding: 10px; border-radius: 50%; height: 85%;*/ }

.grid-referencias {
  display: grid;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: space-between;
  grid-template-columns: 47.5% 47.5%;
  grid-gap: 5%;
  margin-top: 20px;
  margin-bottom: 20px;
  grid-template-areas: "izquierda derecha"; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .grid-referencias {
      margin-left: 50px;
      margin-right: 50px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .grid-referencias {
      grid-gap: 30px;
      margin-left: 20px;
      margin-right: 20px;
      grid-template-areas: "izquierda izquierda" "derecha derecha"; } }
  .grid-referencias #ref-izquierda {
    grid-area: izquierda; }
  .grid-referencias #ref-derecha {
    grid-area: derecha; }

.grid-cargos, #mery {
  display: grid;
  grid-template-columns: 15% 85%;
  margin-bottom: 15px;
  align-items: center;
  grid-template-areas: "foto titulo" "foto cargo"; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .grid-cargos, #mery {
      margin-left: 10px;
      margin-right: 10px; } }
  .grid-cargos .ref-foto, #mery .ref-foto {
    grid-area: foto;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px; }
  .grid-cargos .ref-titulo, #mery .ref-titulo, #mery .mery-titulo {
    grid-area: titulo;
    margin-right: 10px;
    margin-bottom: 0px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .grid-cargos .ref-titulo, #mery .ref-titulo, #mery .mery-titulo {
        margin-left: 30px; } }
    .grid-cargos .ref-titulo h4, #mery .ref-titulo h4, #mery .mery-titulo h4 {
      font-size: 1.1rem; }
  .grid-cargos .ref-cargo, #mery .ref-cargo, #mery .mery-cargo {
    grid-area: cargo;
    font-size: 1rem;
    margin-top: 0px; }
    @media screen and (min-width: 250px) and (max-width: 992px) {
      .grid-cargos .ref-cargo, #mery .ref-cargo, #mery .mery-cargo {
        margin-left: 30px; } }

.p-referencias, .p-mery {
  font-style: italic;
  font-size: 0.9rem;
  margin-left: 30px;
  margin-right: 30px; }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .p-referencias, .p-mery {
      margin-right: 0px;
      margin-left: 0px; } }

#mery {
  margin-left: 300px;
  margin-right: 300px;
  grid-template-columns: 10% 90%;
  align-items: center; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    #mery {
      margin-left: 100px;
      margin-right: 100px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    #mery {
      margin-left: 30px;
      margin-right: 10px;
      margin-top: 30px; } }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    #mery .mery-titulo {
      margin-left: 45px; } }
  @media screen and (min-width: 250px) and (max-width: 992px) {
    #mery .mery-cargo {
      margin-left: 45px; } }

.p-mery {
  margin-left: 330px;
  margin-right: 330px;
  margin-bottom: 50px; }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .p-mery {
      margin-left: 100px;
      margin-right: 100px; } }
  @media screen and (min-width: 250px) and (max-width: 768px) {
    .p-mery {
      margin-right: 20px;
      margin-left: 20px; } }

/*background-color: #333333;*/
